<section class="room" style="text-align: center">

    <div>
        Welcome to {{ roomName }} ( {{ userName }} )
        <button class="btn btn-danger btn-sm ml-4" (click) = "leaveRoom()">Leave</button>
    </div>

    <div class="w-50" style="margin: auto;">

        <div class="border border-light mb-2 p-4" style="min-height: 450px; background: white">
            <app-message *ngFor="let message of messages" [message]="message"></app-message>
        </div>




        <div>
            <form (submit)="onSubmit()">
                <div class="form-group form-inline">
                    <input type="text" class="form-control" [(ngModel)]="formData.message" name="message" placeholder="Type a message to send" />
                    <button class="btn btn-info btn-sm ml-4" type="submit">Send</button>
                </div>
            </form>
        </div>
    
    </div>



    


</section>